<section>
  <div class="nav">
    <button mat-icon-button aria-label="back" class="arrow-back" (click)="toAffichePage()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="head"><a href="/afisha">Назад к афише</a></h1>
  </div>
  <mat-card class="example-card" *ngIf="isLoaded">
    <mat-card-header class="card-container">
      <img class="img" [src]="'https://shift-backend.onrender.com' + data.img">
      <mat-card-title-group class="card">
        <mat-card-title>
          <h1>{{data.name}} ({{data.ageRating}})</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            <p><span class="fat">Страна: </span>{{data.country.name}}</p>
            <p><span class="fat">Дата выхода: </span>{{data.releaseDate}}</p>
            <div>
              <p>
                <span *ngFor="let star of stars">
                  <img [src]="star ? '../../assets/star-full.png' : '../../assets/star-empty.png'" alt="star"
                    class="star">
                </span>
              </p>
              <span class="rating"><span class="fat">Кинопоиcк:</span> {{data.userRatings.kinopoisk}}</span>
              <span><span class="fat">IMDB:</span> {{data.userRatings.imdb}}</span>
            </div>
            <p>
              <span class="fat">Жанр: </span>
              <span *ngFor="let genre of data.genres; let last = last">{{ genre }}{{ !last ? ', ' : '' }}</span>
            </p>
            <p>
              <span class="fat">В главных ролях: </span>
              <span
                *ngFor="let actor of data.actors; let last = last">{{ actor.fullName }}{{ !last ? ', ' : '' }}</span>
            </p>
            <p>
              <span class="fat">Режисёр: </span>
              <span
                *ngFor="let director of data.directors; let last = last">{{ director.fullName }}{{ !last ? ', ' : '' }}</span>
            </p>
            <p><span class="fat">Время просмотра: </span>{{data.runtime}} мин.</p>


            <p class="description">{{data.description}}</p>
          </div>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <h2>Расписание</h2>

  <div class="schedule-container">
    <div class="chips-container">
      <h2>Дата</h2>
      <mat-chip-listbox aria-label="Fish selection" class="chips-container">
        <mat-chip-option *ngFor="let item of schedule" color="warn" [value]="item.date"
          (click)="onSelectionDate(item.date)" class="test">
          {{ item.date }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div>
      <h2>Зал</h2>
      <mat-chip-listbox aria-label="Fish selection" class="chips-container">
        <mat-chip-option *ngFor="let item of halls" color="warn" [value]="item" (click)="onSelectionTime(item)"
          class="test">
          {{ item }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div>
      <h2>Время</h2>
      <mat-chip-listbox aria-label="Fish selection" class="chips-container">
        <mat-chip-option *ngFor="let item of hallTime" color="warn" [value]="item" class="test"
          (click)="onSelectionChairs(item)">
          {{ item }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="schedule-container-item">
      <h2>Выберите место</h2>
      <div class="screen" [style.width]="screenLenght * 40 + 'px'">Экран</div>
      <div *ngFor="let item of places" class="row-container">
        <div *ngFor="let place of item">
          <button class="invisible-button">
            <img src="../../assets/place-free.png" alt="{{ place.type }}" class="place" />
          </button>
        </div>
      </div>
    </div>

  </div>

</section>
